# Vercel Blob
BLOB_READ_WRITE_TOKEN=colle_ton_token_vercel_blob

# Telegram
TELEGRAM_BOT_TOKEN=colle_ton_token_telegram
TELEGRAM_CHAT_ID=colle_ton_chat_id

# Admin panel
ADMIN_KEY=choisis_une_cle_admin_longue_et_secrete

# Optional
WHATSAPP_NUMBER=22781289418
